.container {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    margin: 20px;
    display: flex;
    background-color: #ffffff;
}

.preview-container {
    width: 960px;
    padding: 14px;
    overflow: auto;
    background-color: #d2cfcf;
}